apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: lfray/sonarjenkins:latest
          ports:
            - containerPort: 8087
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3307/TPProjet
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: "000000"
---
apiVersion: v1
kind: Service
metadata:
  name: springboot-service
spec:
  type: NodePort
  selector:
    app: springboot
  ports:
    - port: 8087
      targetPort: 8087
      nodePort: 30080
