apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarjenkins-deployment
  labels:
    app: sonarjenkins
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: sonarjenkins
  template:
    metadata:
      labels:
        app: sonarjenkins
    spec:
      containers:
        - name: sonarjenkins-app
          image: lfray/sonarjenkins-app
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "512Mi"
              cpu: "200m"
            requests:
              memory: "256Mi"
              cpu: "200m"
